<div class="flex h-screen justify-center items-center px-6 overflow-hidden lg:px-8">
  <div class="shadow-xl min-w-96 border border-spacing-1 px-8 py-10 rounded-md">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">CRM Login
      </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form [formGroup]="loginform" (ngSubmit)="login()" class="space-y-6">
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
          <div class="mt-2">
            <input formControlName="email" id="email" name="email" type="email" autocomplete="email" required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
          <div *ngIf="loginform.get('email')?.touched && loginform.get('email')?.invalid" class="text-red-500">
            <small *ngIf="loginform.get('email')?.errors?.['required']">email is required.</small>

          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
            <div class="text-sm">
              <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
            </div>

          </div>
          <div class="mt-2">
            <input formControlName="password" id="password" name="password" type="password"
              autocomplete="current-password" required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
          <div *ngIf="loginform.get('password')?.touched && loginform.get('password')?.invalid" class="text-red-500">
            <small *ngIf="loginform.get('password')?.errors?.['required']">password is required.</small>

          </div>
        </div>

        <div>
          <button type="submit" [disabled]="loginform.invalid"
            class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm disabled:bg-gray-500 disabled:cursor-not-allowed hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign
            in</button>
        </div>
        <div class=" flex flex-row text-sm gap-2">
          <p class="font-semibold text-indigo-600 hover:text-indigo-500">Do not have account?</p>
          <a routerLink="/registration" routerLinkActive="active-link">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>